/* Sets the box-sizing model for all elements to "border-box." */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color for the body element */
body {
    background-color: #d9dcd6;
}

/* Set padding, font family, background color, and font color for the header class */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Set display style and font size for the h1 element within the header class */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Set font color for the .seo class within the h1 element of the header class to make it stand out*/
.header h1 .seo {
    color: #55bddf;
}

/* Set style attributes for the navigation menu within the header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Set display style and and margin for list items within the navigation menu */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Set link element font color and text decoration to not appear as a hyperlink */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Set style attributes for the main background section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Set margin to right and the float left class float element on the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Set margin to left and the float right class float element on the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Set width, display, and margin for the content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Set style attributes for the benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Set margin and text alignment for headings within the benefits class */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Set margin and font color for benefit classes */
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Set width, display, and margin for the benefit classes image elements */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Set style attributes for content classes */
.search-engine-optimization,
.social-media-marketing,
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Set the max height for the content classes image elements */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/* Styles for headings within content class */
.search-engine-optimization h2,
.social-media-marketing h2,
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Set style attributes for the footer class */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Set font size for headings within the footer class */
.footer h2 {
    font-size: 20px;
}
